body {
    background-color: #AFD0D6;
    font-family: system-ui;
}

@keyframes slideIn {
    from {
        transform: translateX(-300px);
    }

    to {
        transform: translateX(0);
    }
}

.main-title {
    font-size: 50px;
    padding: 0em 18em;
    color: #36393B;
    animation-name: slideIn;
    animation-duration: 1s;
}