body {
    overflow-x: hidden;
}

input[type="text"] {
    width: 200px;
    text-align: center;
}

body {
    background-color: #EEEEEE;
    font-family: system-ui;
}

@keyframes slideIn {
    from {
        transform: translateX(-300px);
    }

    to {
        transform: translateX(0);
    }
}


h1 {
    color: #36393B;
    animation-name: slideIn;
    animation-duration: 1s;
    padding: 0em 12em;
    text-align: center;

}



button {
    font-size: 1rem;
    font-weight: 800;
    padding: 1em 35em;
    color: var(--clr-accent);
    background-color: var(--clr-rgba);
    border: 11px solid var(--clr-accent);
    border-radius: 10px;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

button:hover {
    transform: translateY(-10px);
}


.Googlebtn {
    font-size: 1rem;
    font-weight: 800;
    color: #C49799;
    background-color: var(--clr-rgba);
    border: 11px solid var(--clr-accent);
    border-radius: 10px;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.saveButton {
    font-size: 1rem;
    font-weight: 800;
    padding: 1em 10.5em;
    color: var(--clr-accent);
    background-color: var(--clr-rgba);
    border: 11px solid var(--clr-accent);
    border-radius: 10px;
    border-color: black;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    position: fixed;
}

.desired-phrase {
    font-size: 25px;
    position: fixed;
    color: #5C9EAD;
    padding: 1em 5em;
    font-weight: 600;
}

.header {
    padding: 1em 20em;
    color: #36393B;
    font-weight: 600;
    text-align: center;
}

.inputPart {
    padding: 1em 0em;
    width: 400px;
    height: 350px;
    background-color: #EEEEEE;
    border: 3px solid#E39774;
    right: 650px;
    position: fixed;
    align-items: center;
}

.outputPart {
    padding: 1em 0em;
    width: 400px;
    height: 350px;
    background-color: #EEEEEE;
    border: 3px solid#E39774;
    right: 180px;
    position: fixed;
}
